.vs/
bin/
Bin/
Obj/
obj/
bin/Release
bin/Debug
Debug/
debug/
Release/
release/
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*.exe
*.pdb
*.manifest
*.cache
/Packages
/packages
/$tf
/CodeChallenge2
